.container {
  margin-top: 250px;
}

.loader {
  position: relative;
  width: 176px;
  height: 32px;
  margin: 48px auto;
}

.dot {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #ccc;
  position: absolute;
}

.dot_1 {
  animation: animateDot1 1.5s linear infinite;
  left: 48px;
  background: #776EB1;
}

.dot_2 {
  animation: animateDot2 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 96px;
}

.dot_3 {
  animation: animateDot3 1.5s linear infinite;
  left: 48px;
}

.dot_4 {
  animation: animateDot4 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 96px;
}

@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-48px);
  }
  25% {
    transform: rotate(180deg) translateX(-48px);
  }
  75% {
    transform: rotate(180deg) translateX(-48px);
  }
  100% {
    transform: rotate(360deg) translateX(-48px);
  }
}
@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-48px);
  }
  25% {
    transform: rotate(-180deg) translateX(-48px);
  }
  75% {
    transform: rotate(-180deg) translateX(-48px);
  }
  100% {
    transform: rotate(-360deg) translateX(-48px);
  }
}
@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(48px);
  }
  25% {
    transform: rotate(180deg) translateX(48px);
  }
  75% {
    transform: rotate(180deg) translateX(48px);
  }
  100% {
    transform: rotate(360deg) translateX(48px);
  }
}
@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(48px);
  }
  25% {
    transform: rotate(-180deg) translateX(48px);
  }
  75% {
    transform: rotate(-180deg) translateX(48px);
  }
  100% {
    transform: rotate(-360deg) translateX(48px);
  }
}

.container h1{
  color:#776EB1;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  margin-top: 100px;
}